src/main/mule/validateJSON.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
<file:config name="File" doc:name="File Config" doc:id="4fbe0d98-2bfa-4e2a-9c20-91e572b43517" >
		<file:connection workingDir="${app.home}" />
	</file:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="9f0851e1-6d8b-4df3-9a5d-4e18a84e1592" >
		<file:connection workingDir="/Users/pravallikanagaraja/Documents/JSONModulePOC" />
	</file:config>
	<flow name="validateJSONModule" initialState="started">
 
        <scheduler doc:name="Scheduler" doc:id="e34f2099-cfd1-4da3-b5cb-1688ca82da1a" >
			<scheduling-strategy >
				<fixed-frequency frequency="45" startDelay="5" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read path="examples/document.json" target="jsonDoc" config-ref="File" timeBetweenSizeCheck="2"
	timeBetweenSizeCheckUnit="MILLISECONDS" outputMimeType="application/json"/>
			<logger level="INFO" doc:name="Logger" doc:id="b4ffb7be-9a47-4ecd-84a7-4ebf8bb418ae" message="Read the file"/>
		<json:validate-schema schema="schemas/mySchema.json" doc:id="66580642-1bd9-4d08-9de5-f03f73720e7a">
        <json:content><![CDATA[#[vars.jsonDoc]]]></json:content>
        </json:validate-schema>
		<error-handler>
            <on-error-propagate type="JSON:SCHEMA_NOT_HONOURED">
                <file:write config-ref="File_Config" mode="APPEND" lock="true" path="jsonSchemas.json">
                    <file:content><![CDATA[#[error.errorMessage.payload]]]></file:content>
                </file:write>
				<logger level="INFO" doc:name="Logger" doc:id="261e10f4-62e6-4dff-82fb-dc281959b857" message="Error is written in the file"/>
            </on-error-propagate>
        </error-handler>
   
</flow>
</mule>
